#App
PORT = 3000
NODE_ENV = development

# Database (Use this for Docker Container / local PostgreSQL)
DATABASE_URL=postgresql://<username>:<password>@localhost/<database>

#Jwt
JWT_ACCESS_SECRET=accessSecret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refreshSecret
JWT_REFRESH_EXPIRES_IN=7d

#Resend mail service api keys
RESEND_API_KEY=yourResendMailApiKey

#Image kit service api keys
IMAGE_KIT_PRIVATE_KEY=yourImageKitPrivateApiKey
IMAGE_KIT_PUBLIC_KEY=yourImageKitPublicApiKey
IMAGE_KIT_URL_ENDPOINT=yourImageKitUrlEndpoint

#Server base URL
SERVER_BASE_URL=YOUR_SERVER_URL